.chatbot-app {
  display: flex;
  padding-top: 0px;
  height: 100vh;
}

.chat-list {
  width: 250px;
  border-right: 1px solid #ccc;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.chat-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.chat-list li {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-list li:hover {
  background: #f1f1f1;
}

.chat-list li.selected {
  font-weight: bold;
  color: blue;
}

/* Delete icon */
.delete-chat {
  display: none;
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.chat-list li:hover .delete-chat {
  display: inline;
}

.chat-window {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.message-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.message {
  margin-bottom: .5rem;
}

.message.user {
  text-align: right;
  color: #1769aa;
}

.message.bot {
  text-align: left;
  color: #333;
}

.message-input {
  display: flex;
  gap: .5rem;
}

.border-success {
  --bs-border-opacity: 1;
  border-color: rgba(var(--bs-success-rgb), var(--bs-border-opacity)) !important;
}

@keyframes chatboxFadein {
  from{ transform: scale(0.8); opacity: 0;}
  to {transform: scale(1); opacity: 1; }
}

.chat-window.animate {
  animation: chatboxFadein 0.7s ease;
}
