// Specific CSS for your home-page
.home-page-container {
  max-width: 400px;
  margin: 150px auto;
  background: #fff;
  box-shadow: 0 4px 20px rgba(0,0,0,0.06);
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
}

.home-page-header {
  text-align: center;
  padding-bottom: 15px;
}

.home-page-header h1 {
 color: #007BFF;
 margin: 0;
}

.home-page-header p {
  color: #555;
}

.signup h2 {
  margin-bottom: 12px;
  color: #2d3748;
  text-align: center;
}

.signup form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.signup input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.signup button {
  padding: 10px;
  background: #007BFF;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}
