<div class="col-auto d-flex flex-column py-4 px-3">
  <%= render "chats/chat_new", chat: chat, products: products %>
  <!--
  <input id="search-chats" type="text" class="form-control mb-3" placeholder="Search chats...">
  -->
  <%= render "chats/chat_list", chats: chats %>
</div>
