<div class="chat-list border-end p-3">
  <%= render "chat_new", chat: chat, products: products %>
  <!--
  <input id="search-chats" type="text" class="form-control mb-3" placeholder="Search chats...">
  -->
  <%= render "chat_list", chats: chats %>
</div>
