<%= simple_form_for(chat) do |form| %>
  <div class="form-group">
    <label>Select Products</label>
    <div class="border rounded p-2" style="max-height: 200px; overflow-y: auto;">
      <div class="form-check">
        <input type="checkbox" id="select_all_products" class="form-check-input">
        <label for="select_all_products" class="form-check-label">All</label>
      </div>
      <%= form.input :product_ids,
                    as: :check_boxes,
                    collection: products,
                    label_method: :name,
                    value_method: :id,
                    include_hidden: false,
                    item_wrapper_class: "form-check",
                    label: '' %>
    </div>
  </div>
  <%= form.submit "New Chat", class: "mt-2 btn btn-primary w-100 rounded-3 mb-3" %>
<% end %>
