<%= render "shared/product_chat_header", page: "chat" %>

<div class="container-fluid chatbot-app d-flex vh-100">

  <%= render "chat_sidebar", chat: @chat, products: @products, chats: @chats %>

</div>
