<%= render "shared/product_chat_header", page: "chat" %>

<div class="container-fluid vh-100 d-flex">
  <div class="row w-100">

    <%= render "chats/chat_sidebar", chat: @chat_new, products: @products, chats: @chats %>

    <!-- Chatbox -->
    <div class="col col-lg-9 d-flex flex-column px-3 h-100">

      <!-- Messages -->
      <div class="flex-grow-1 overflow-auto p-3 d-flex flex-column gap-3" id="messages">
        <%= render "messages/messages", messages: @chat_current.messages %>
      </div>


      <!-- Input -->
      <div id="new_message_container">
        <%= render "messages/form", chat_current: @chat_current, message: @message %>
      </div>
    </div>
  </div>
</div>
