<%= render "shared/product_chat_header", page: "chat" %>

<div class="container-fluid vh-100 d-flex">
  <div class="row w-100">

    <%= render "chats/chat_sidebar", chat: @chat_new, products: @products, chats: @chats %>

    
    <div class="col col-lg-9 d-flex flex-column px-3 h-100">
      <div class="card flex-grow-1 d-flex flex-column">

        <div class="card-header">
          <h5 class="mb-0">Chat</h5>
        </div>


        <div class="card-body d-flex flex-column p-0 overflow-hidden">

          <div class="flex-grow-1 overflow-auto p-3 d-flex flex-column gap-3" id="messages">
            <%= render "messages/messages", messages: @chat_current.messages %>
          </div>


          <div id="new_message_container" class="border-top">
            <div class="p-3">

              <div id="filePreviewContainer" class="mb-2 d-none">
                <div class="alert alert-light border d-flex align-items-center justify-content-between py-2 mb-0" role="alert">
                  <div class="d-flex align-items-center">
                    <span id="filePreviewIcon" class="me-2 fs-5"></span>
                    <div>
                      <div id="filePreviewName" class="fw-semibold small"></div>
                      <div id="filePreviewSize" class="text-muted" style="font-size: 0.75rem;"></div>
                    </div>
                  </div>
                  <button type="button" class="btn-close" aria-label="Remove file" data-bs-dismiss="alert" onclick="clearFileUpload()"></button>
                </div>
              </div>


              <div class="d-flex align-items-end gap-2">

                <div class="dropup">
                  <button class="btn btn-outline-secondary d-flex align-items-center justify-content-center p-0"
                          type="button"
                          id="fileUploadDropdown"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                          style="width: 40px; height: 40px; border-radius: 50%;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                  </button>
                  <ul class="dropdown-menu shadow-sm" aria-labelledby="fileUploadDropdown">
                    <li>
                      <button class="dropdown-item d-flex align-items-center py-2" type="button" onclick="triggerFileInput('imageUpload')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                        </svg>
                        Picture
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item d-flex align-items-center py-2" type="button" onclick="triggerFileInput('audioUpload')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                          <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
                          <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
                          <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
                        </svg>
                        Audio
                      </button>
                    </li>
                    <li>
                      <button class="dropdown-item d-flex align-items-center py-2" type="button" onclick="triggerFileInput('pdfUpload')">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="me-2" viewBox="0 0 16 16">
                          <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"/>
                          <path d="M4.603 14.087a.81.81 0 0 1-.438-.42c-.195-.388-.13-.776.08-1.102.198-.307.526-.568.897-.787a7.68 7.68 0 0 1 1.482-.645 19.697 19.697 0 0 0 1.062-2.227 7.269 7.269 0 0 1-.43-1.295c-.086-.4-.119-.796-.046-1.136.075-.354.274-.672.65-.823.192-.077.4-.12.602-.077a.7.7 0 0 1 .477.365c.088.164.12.356.127.538.007.188-.012.396-.047.614-.084.51-.27 1.134-.52 1.794a10.954 10.954 0 0 0 .98 1.686 5.753 5.753 0 0 1 1.334.05c.364.066.734.195.96.465.12.144.193.32.2.518.007.192-.047.382-.138.563a1.04 1.04 0 0 1-.354.416.856.856 0 0 1-.51.138c-.331-.014-.654-.196-.933-.417a5.712 5.712 0 0 1-.911-.95 11.651 11.651 0 0 0-1.997.406 11.307 11.307 0 0 1-1.02 1.51c-.292.35-.609.656-.927.787a.793.793 0 0 1-.58.029zm1.379-1.901c-.166.076-.32.156-.459.238-.328.194-.541.383-.647.547-.094.145-.096.25-.04.361.01.022.02.036.026.044a.266.266 0 0 0 .035-.012c.137-.056.355-.235.635-.572a8.18 8.18 0 0 0 .45-.606zm1.64-1.33a12.71 12.71 0 0 1 1.01-.193 11.744 11.744 0 0 1-.51-.858 20.801 20.801 0 0 1-.5 1.05zm2.446.45c.15.163.296.3.435.41.24.19.407.253.498.256a.107.107 0 0 0 .07-.015.307.307 0 0 0 .094-.125.436.436 0 0 0 .059-.2.095.095 0 0 0-.026-.063c-.052-.062-.2-.152-.518-.209a3.876 3.876 0 0 0-.612-.053zM8.078 7.8a6.7 6.7 0 0 0 .2-.828c.031-.188.043-.343.038-.465a.613.613 0 0 0-.032-.198.517.517 0 0 0-.145.04c-.087.035-.158.106-.196.283-.04.192-.03.469.046.822.024.111.054.227.09.346z"/>
                        </svg>
                        PDF
                      </button>
                    </li>
                  </ul>
                </div>


                <input type="file" id="imageUpload" accept="image/*" class="d-none" onchange="handleFileUpload(this, 'image')">
                <input type="file" id="audioUpload" accept="audio/*" class="d-none" onchange="handleFileUpload(this, 'audio')">
                <input type="file" id="pdfUpload" accept="application/pdf" class="d-none" onchange="handleFileUpload(this, 'pdf')">


                <div class="flex-grow-1">
                  <%= render "messages/form", chat_current: @chat_current, message: @message %>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
  function triggerFileInput(inputId) {
    document.getElementById(inputId).click();
  }

  function handleFileUpload(input, type) {
    const file = input.files[0];
    if (file) {
      const container = document.getElementById('filePreviewContainer');
      const icon = document.getElementById('filePreviewIcon');
      const name = document.getElementById('filePreviewName');
      const size = document.getElementById('filePreviewSize');


      const icons = {
        'image': '🖼️',
        'audio': '🎵',
        'pdf': '📄'
      };

      icon.textContent = icons[type];
      name.textContent = file.name;
      size.textContent = formatFileSize(file.size);


      container.classList.remove('d-none');


      const messageAttachment = document.getElementById('message_attachment');
      if (messageAttachment) {
        const dataTransfer = new DataTransfer();
        dataTransfer.items.add(file);
        messageAttachment.files = dataTransfer.files;
      }
    }
  }

  function clearFileUpload() {
    document.getElementById('imageUpload').value = '';
    document.getElementById('audioUpload').value = '';
    document.getElementById('pdfUpload').value = '';
    document.getElementById('filePreviewContainer').classList.add('d-none');


    const messageAttachment = document.getElementById('message_attachment');
    if (messageAttachment) {
      messageAttachment.value = '';
    }
  }

  function formatFileSize(bytes) {
    if (bytes === 0) return '0 Bytes';
    const k = 1024;
    const sizes = ['Bytes', 'KB', 'MB', 'GB'];
    const i = Math.floor(Math.log(bytes) / Math.log(k));
    return Math.round(bytes / Math.pow(k, i) * 100) / 100 + ' ' + sizes[i];
  }
</script>
