<div class="home-page-container">
  <header class="home-page-header">
    <h1>Welcome to our shop</h1>
    <p>Sign up to get started!</p>
  </header>
  <main>
    <% unless user_signed_in? %>
      <section class="signup">
        <h2>Log in</h2>
        <%= render "devise/sessions/home", resource: @resource, resource_name: @resource_name, devise_mapping: @devise_mapping %>
      </section>
    <% else %>
      <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <div>
        <%= link_to "See our products", products_path, class: "btn btn-primary" %>
        </div>
        <div>
        <%= link_to "Ask Nodaldo", root_path , class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </main>
 </div>
























</
