<div class="container my-5">
  <div class="text-center mb-4">
    <h1 class="fw-bold">Our Products</h1>
    <p class="text-muted">Your sub-heading on your choice</p>
  </div>

  <div class="row g-4">

    <%= render "product_grid", products: @products%>

  </div>
</div>
