<!-- HEADER TABS -->
<%= render "shared/product_chat_header", page: "shop" %>

<div class="container">
  <!-- CONTENT PANELS -->
  <!-- PRODUCTS VIEW -->
  <div id="products-panel" class="tab-panel border-top">
    <div class="row g-4">
      <%= render "product_grid", products: @products %>
    </div>
  </div>

  <!-- CHAT VIEW -->
  <div id="assistant-panel" class="tab-panel d-none">
    <%= render "product_grid" %> <%# create _chat_view.html.erb for your chat UI %>
  </div>
</div>
